.root {
  height: 66px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.content {
  background: #3d403f;
  color: #dbdbdb;
  text-align: left;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;
  padding: 0 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 95px;
}

.active {
  background: #555757;
}

.value {
  font-size: 35px;
}

.label {
  text-transform: uppercase;
  font-size: 9px;
}
